[MASTER]

[MESSAGES CONTROL]
disable=print-statement,
        missing-function-docstring,
        missing-module-docstring,
        missing-class-docstring,
        line-too-long,
        invalid-name,
        unused-argument,
        unused-import,
        too-many-locals,
        too-many-statements,
        too-many-instance-arguments,
        too-few-public-methods,
        bad-indentation,
        bad-continuation,
        import-error,
        wildcard-import,
        no-self-use,
        duplicate-code,
        wrong-import-position,
        no-member,
        too-many-arguments,
        too-many-instance-attributes,
        too-many-lines,
        too-many-branches,
        too-many-public-methods,
        broad-except,
        fixme, # no TODOs