[env]
proxy=http://proxy.stusta.de:3128
php_service=php7.0-fpm.service

[wiki]
dir=/var/www/mediawiki/
extensions_git=CategoryTree,MultimediaViewer,SemanticDrilldown,UploadWizard,VisualEditor
check_url=https://wiki.stusta.de/Hauptseite

[backup]
bup_dir=/var/bup/
bup_idx_files=wiki
bup_idx_db=wiki-db
db_name=mediawiki
db_user=backup
db_pass=verysicher
