[env]
proxy=http://proxy.stusta.de:3128
php_service=php7.0-fpm.service

[wiki]
dir=/var/www/mediawiki/
extensions_git=CategoryTree,MultimediaViewer,SemanticDrilldown,UploadWizard,VisualEditor
check_url=https://wiki.stusta.de/Hauptseite

[backup]
dir=/somewhere/backup/
db_name=mediawiki
db_user=backup
db_pass=verysicher
