[env]
proxy=http://proxy.stusta.de:3128
php_service=php7.0-fpm.service
composer_home=/var/cache/composer

[wiki]
dir=/var/www/mediawiki/
extensions_git=CategoryTree,MultimediaViewer,SemanticDrilldown,UploadWizard,VisualEditor
skins_git=MobileFrontend
check_url=https://wiki.stusta.de/Hauptseite

[backup]
db_dump_dir=/var/backup/wiki/
bup_dir=/var/bup/
bup_idx=wiki
db_name=mediawiki
db_user=backup
db_pass=verysicher
