[Unit]
Description=Wiki Announce
OnFailure=status-email-user@%n.service

[Service]
User=www-data
Group=www-data
Type=simple
ExecStart=/usr/local/bin/wiki-scripts/announce.py
