[Unit]
Description=Wiki Upgrade Script
OnFailure=status-email-user@%n.service

[Service]
User=www-data
Group=www-data
Type=simple
ExecStart=/usr/local/bin/wiki-scripts/upgrade.sh
